*{
    margin: 0;
    padding: 0;
}

header{
    background-color: #ffffff;
    color: #ffffff;
}

.cabecalho {
    display: flex;
    flex-wrap: wrap;
    padding: 8px;
    justify-content:space-around;
    align-items: center;
}

.logo{
    max-width: 250px;
}
.menu{
    display: flex;
    padding: 10px 0;
    justify-content: center;
    background-color: #f80707;
}

input{
    border-radius: 10px;
    border: 2px solid #f80707;
    outline: none;   
    padding-left: 5px; 
    margin: 5px;
    width: 20em;
    height: 3em;
    font-size: auto;
}

ul{
    display: flex;
}

li{
    padding-left: 15px;
    list-style: none;
}

a{
    color: #ffffff;
    text-decoration: none;
}

div{
    text-align: center;
}

footer{
    text-align: center;
    background-color: #f80707;
}